# PROVIDERS AIRFLOW COMPATIBLES AVEC AIRFLOW 2.7.3
apache-airflow-providers-apache-spark==4.1.0
apache-airflow-providers-apache-kafka==1.5.0
apache-airflow-providers-postgres==5.7.1
apache-airflow-providers-http==4.6.0

# UTILITAIRES
requests==2.31.0
python-dotenv==1.0.0

# DATA QUALITY
great-expectations==0.18.19

# KAFKA
kafka-python==2.0.2

# GENERATION DE DONNEES
faker==20.1.0

# FORMAT DATA (PARQUET / SPARK)
pyarrow==14.0.2
pandas==2.1.2